<script>
	var prevpiece 
	function selectpiece(x,y){
		currenttile=$("#"+x+"-"+y) //query current tile #2-5 for example
		$('.selected').removeClass('selected') //clear all selections 
		currenttile.addClass("selected") //add selected class to current tile

		//if previous piece is not null and current tile is empty
		if (prevpiece && !currenttile.has("img").length ) {
			prevpiece.detach()	 //cut previous piece
			prevpiece.appendTo(currenttile) //paste previous piece into current tile		
			prevpiece=null //turn is over so don't keep track of previous piece any more	 
			$('.selected').removeClass('selected') 	//clear all selections
			//$.ajax({ }) a move was placed so call ajax here 
		}else{
			//store previous piece so the next time you click the info is stored
			prevpiece = $("#"+x+"-"+y+" img")
		} 
	}
</script>

<div id="chessboard">
	<% tile_color = "white" %>
	<% for row in 1..8 %>
		<div class = "row">
		<% for col in 1..8 %>
			<div class = "tile <%=tile_color%>" id = "<%=row%>-<%=col%>"  onclick = "selectpiece(<%=row.to_s %>,<%=col.to_s %>)" > 
				<% if col < 8 %>
					<% tile_color == "white" ? (tile_color = "black") : (tile_color = "white") %>
				<% end %>
				<% @pieces.each do |piece| %>
					<% if piece.x_position == row && piece.y_position == col %>
						<%=  image_tag(piece.image, class: "img-responsive icon") %>				
					<% end %>
				<% end %>
			</div>
		<% end %> <!-- for col -->
		</div>
	<% end %> <!-- for row  -->
</div>
	

<div class="game-info pull-right">
	<ul>
		<li><%= @game.name %></li>
		<br />
		<% @user.each do |user| %>
			<% if user.id == @game.white_player_id %>
				<li>White Player: <%= user.email %></li><br />
			<% end %>
			<% if user.id == @game.black_player_id %>
				<li>Black Player: <%= user.email %></li>
			<% end %>
		<% end %>
	</ul>
</div>