
<div id="chessboard">
	<% tile_color = "white" %>
	<% for row in 1..8 %>
		<div class = "row">
		<% for col in 1..8 %>
			<% tile_id = "#{row}-#{col}" %>
			<div class = "tile <%=tile_color%>" id = "<%=tile_id%>" > 
			<% @pieces.each do |piece| %>
				<% if piece.tile_id == tile_id && piece.is_selected %>
					<%= image_tag piece.image, class: "img-responsive icon selected"  %> 
				<% elsif piece.tile_id == tile_id %>
					<%= link_to image_tag(piece.image, class: "img-responsive icon"), piece_path(piece), method: :patch  %> 
					<% break %>
				<% end %>
			<% end %>

			<% if col < 8 %>
				<% tile_color == "white" ? (tile_color = "black") : (tile_color = "white") %>
			<% end %>

			</div>
		<% end %>
		</div>
	<% end %>
</div>


<div class="game-info pull-right">
<ul>
<li><%= @game.name %></li><br />
<% @user.each do |user| %>
<% if user.id == @game.white_player_id %>
<li>White Player: <%= user.email %></li><br />
<% end %>
<% if user.id == @game.black_player_id %>
<li>Black Player: <%= user.email %></li>
<% end %>
<% end %>
</ul>
</div>