<script>
	$(function() {
		$('.icon').draggable({
			appendTo: "body",
			scroll: false,
			containment: "#chessboard",
			revert: true,
			revertDuration: 100
		});
		$('.tile').droppable({
			hoverClass: "ui-state-hover",
			accept: ".icon",
			drop: function(event, ui) {
				var piece = ui.draggable;
				var target = $(event.target);
				var x_pos = target.attr("id").charAt(0);
				var y_pos = target.attr("id").charAt(2);
				$.ajax({
					url: "/pieces/" + piece.data( "piece" ),
					method: "PUT",
					data: { 
						x_position: x_pos, 
						y_position: y_pos, 
						userid: <%=@current_user.id%>
					}
				}).done(function(response) {
					if (response.valid) {
						piece.appendTo(target);
					}
					if (response.captured) {
						//find piece on the target tile, then replace it
						target.find($('.icon')).replaceWith(piece);
					}
				});
			}
		});
	});
</script>

<div id="chessboard">
	<% tile_color = "white" %>
	<% for row in 1..8 %>
		<div class = "row">
		<% for col in 1..8 %>
			<div class = "tile <%=tile_color%>" id = "<%=row%>-<%=col%>"> 
				<% if col < 8 %>
					<% tile_color == "white" ? (tile_color = "black") : (tile_color = "white") %>
				<% end %>
				<% @pieces.each do |piece| %>
					<% if piece.x_position == row && piece.y_position == col %>
						<%= image_tag(piece.image, class: "img-responsive icon",:data => {:piece => piece.id} ) %>				
					<% end %>
				<% end %>
			</div>
		<% end %> <!-- for col -->
		</div>
	<% end %> <!-- for row  -->
</div>
	

<div class="game-info pull-right">
	<ul>
		<li><%= @game.name %></li>
		<br />
		<% @user.each do |user| %>
			<% if user.id == @game.white_player_id %>
				<li>White Player: <%= user.email %></li><br />
			<% end %>
			<% if user.id == @game.black_player_id %>
				<li>Black Player: <%= user.email %></li>
			<% end %>
		<% end %>
	</ul>

</div>